// main: ../theme.less
@import "variables.less";

// --------------------------
// Header
// --------------------------
header {
	background:@darkenColor;
	color: @lightenColor;
	min-height: 50px;


	.coordonneesHeader{
		.flex();
		align-items: center;

		address{
			height: 50px;
			line-height: 50px;
			margin-bottom: 0;
		}
	}

} // Fin Header


// --------------------------
// Tablettes - SM
// --------------------------
@media(min-width:768px) {
}

// --------------------------
// Grandes tablettes - MD
// --------------------------
@media(min-width:992px) {
}

// --------------------------
// Desktop - LG
// --------------------------
@media(min-width:1200px) {
}
