<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<websiteconfig>

    <sitename>AsCo Consulting</sitename>

    <address>18 Rue Joseph CUGNOT</address>
    <cp>38300</cp>
    <city>BOURGOIN JALLIEU</city>

    <mail>mail@mail.fr</mail>
    <tel>04 74 28 28 85</tel>

    <siret>79006722700021</siret>

    <weblinkhref>http://www.site.com</weblinkhref>
    <weblink>site.com</weblink>

    <defaultpage>accueil</defaultpage>

    <authorsite>As Co Consulting</authorsite>

    <descrip>Ici la description</descrip>

</websiteconfig>
