html {
  font-size: 16px;
}
/* Constante formulaire */
.miseAvant {
  display: inline-block;
  background: #D85820;
  color: #FFF;
  padding: 30px;
  margin: 1rem 0;
}
.miseAvant p {
  font-size: 1.56rem;
  line-height: 2.31rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
.btn {
  height: 50px;
  width: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
}
.btn .icon-btn {
  width: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
[class^="icon-"] {
  width: 20px;
}
.scrollup {
  width: 50px;
  height: 50px;
  line-height: 60px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  background: rgba(21, 21, 21, 0.5);
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  -o-transition: background 0.5s ease-in;
  -ms-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
}
.scrollup:hover {
  background: #00dabb;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  -o-transition: background 0.5s ease-in;
  -ms-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
}
.scrollup .icon-up {
  display: inline-block;
  fill: #FFF;
  width: 50px;
}
.map-container {
  width: 100%;
}
.map-container iframe {
  width: 100%;
  display: block;
  pointer-events: none;
  position: relative;
  /* IE needs a position other than static */
}
.map-container iframe.clicked {
  pointer-events: auto;
}
header {
  background: #212121;
  color: #FFF;
  min-height: 50px;
}
header .coordonneesHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
header .coordonneesHeader address {
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
}
.logo {
  display: inline-block;
  height: 50px;
  margin: 0;
  color: #FFF;
  background: blue;
}
.logo span {
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.logo .nom {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.logo .slogan {
  font-family: 'Roboto', sans-serif;
}
.navbar {
  background: none;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar .navbar-nav li a {
  height: 50px;
  padding: 15px 30px;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
}
.navbar .navbar-nav li a:hover {
  color: #FFF;
  background: olive;
}
.navbar .navbar-nav .active > a,
.navbar .navbar-nav .active > a:focus,
.navbar .navbar-nav .active > a:hover {
  color: #00a78f;
  background: olive;
}
.navbar .navbar-nav .open > a,
.navbar .navbar-nav .open > a:focus,
.navbar .navbar-nav .open > a:hover {
  color: #FFF;
  background: #D85820;
}
.navbar .navbar-nav .dropdown-menu {
  padding: 0;
  color: #FFF;
  background: #212121;
}
.navbar .navbar-nav .dropdown-menu li {
  display: inline-block;
  width: 100%;
}
.logo {
  display: inline-block;
  height: 50px;
  width: 245px;
  overflow: hidden;
  margin: 0;
  color: #FFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: #00a78f;
}
h1 {
  margin-bottom: 2rem;
}
p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 20px;
}
a {
  color: #D85820;
}
a:hover {
  color: #e47747;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
}
section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.grilleImage img {
  height: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer {
  min-height: 60px;
  background: #212121;
  font-weight: 300;
  color: #FFF;
  font-size: 0.7rem;
}
footer p,
footer a {
  font-size: 0.7rem;
  margin: 0;
  text-align: right;
  color: #FFF;
}
footer p:hover,
footer a:hover {
  color: #FFF;
}
footer ul {
  margin-bottom: 0px;
}
footer .content-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0;
  font-size: 0.7rem;
}
footer .content-footer .logoAsCo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}
footer .content-footer .icon-AsCoConsulting {
  width: 91px;
  fill: #FFF;
}
footer .menu-footer {
  list-style: none;
}
footer .menu-footer ul {
  display: inline-block;
  float: right;
}
footer .menu-footer ul li {
  display: inline-block;
  float: left;
  margin-right: 0.5rem;
  font-weight: 300;
}
footer .menu-footer ul li a {
  color: #FFF;
}
@media (min-width: 992px) {
  footer .AsCoConsulting {
    justify-content: flex-start;
  }
  footer .menu-footer {
    justify-content: flex-end;
  }
}
form {
  margin: 2rem 0 1rem;
}
form label {
  display: inline-block;
  height: 30px;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}
form .form-control {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  font-size: 1rem;
}
form .text-danger {
  background: #EF9A9A;
  width: 100%;
  padding: 0 10px;
  line-height: 30px;
  color: #cf2121;
  font-weight: 500;
}
form .text-danger ul {
  padding: 0;
}
form .text-danger ul li {
  list-style: none;
}
form textarea {
  min-height: 200px;
}
form .captcha {
  visibility: hidden;
  height: 1px;
  width: 100px;
  font-size: 0.5rem;
  padding: 0.5rem;
}
form .btn {
  display: block;
  border-radius: 0px;
  height: 50px;
  width: 150px;
  margin: 0 auto;
  text-transform: uppercase;
}
.loi-informatique {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 0.7rem;
  line-height: 1.1rem;
  color: #6e6e6e;
  text-align: justify;
}
.pageErreur h1 {
  color: #00a78f;
  font-weight: 700;
}
.pageErreur .retour404 {
  background: #008e79;
  border: #008e79;
  margin: 30px auto;
  justify-content: center;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}
.pageErreur .retour404:hover {
  background: #007463;
  border: #007463;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}
.sitemap ul {
  list-style-type: none;
  padding: 0;
}
.sitemap ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-bottom: 5px;
  width: 100%;
}
.sitemap ul li a {
  color: #212121;
}
@media (min-width: 992px) {
  .sitemap {
    padding: 2rem 0;
  }
  .sitemap ul li {
    display: inline-block;
    width: 50%;
    float: left;
  }
}
