/* Constante formulaire */
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.no-padding-left {
  padding-left: 0px;
}
.no-padding-right {
  padding-right: 0px;
}
.no-padding-right-xs {
  padding-right: 0px;
}
.no-padding-left-xs {
  padding-left: 0px;
}
html {
  font-size: 16px;
}
.darkenColor {
  background: #212121;
}
.greyColor {
  background: #eeeeee;
}
.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
.title {
  height: 70px;
  background: #ac4619;
}
.title h1 {
  color: #ffffff;
  line-height: 70px;
  margin: 0;
}
p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a {
  color: #d85820;
}
a:hover {
  color: #e47747;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
}
.color1 {
  fill: #ffffff;
}
.miseAvant {
  display: inline-block;
  background: #d85820;
  color: #ffffff;
  padding: 30px;
  margin: 1rem 0;
}
.miseAvant p {
  font-size: 1.56rem;
  line-height: 2.31rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
[class^="icon-"] {
  fill: #ffffff;
  width: 20px;
}
.flex {
  flex-direction: column;
}
form {
  margin: 2rem 0 1rem;
}
form label {
  display: inline-block;
  height: 30px;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}
form .form-control {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  font-size: 1rem;
}
form .text-danger {
  background: #ef9a9a;
  width: 100%;
  padding: 0 10px;
  line-height: 30px;
  color: #cf2121;
  font-weight: 500;
}
form .text-danger ul {
  padding: 0;
}
form .text-danger ul li {
  list-style: none;
}
form textarea {
  min-height: 200px;
}
form .captcha {
  visibility: hidden;
  height: 1px;
  width: 100px;
  font-size: 0.5rem;
  padding: 0.5rem;
}
form .btn {
  display: block;
  border-radius: 0px;
  height: 50px;
  width: 150px;
  margin: 0 auto;
  text-transform: uppercase;
}
.loi-informatique {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 0.7rem;
  line-height: 1.1rem;
  color: #6e6e6e;
  text-align: justify;
}
.sitemap ul {
  list-style-type: none;
  padding: 0;
}
.sitemap ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-bottom: 5px;
  width: 100%;
}
header {
  background: #212121;
  color: #ffffff;
  min-height: 50px;
}
header .navbar {
  background: none;
  background: deeppink;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
header .navbar .logo {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin: 0;
  color: #ffffff;
}
header .navbar .logo span {
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
}
header .navbar .logo .nom {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
header .navbar .logo .slogan {
  font-family: 'Roboto', sans-serif;
}
header .navbar .navbar-nav a {
  height: 50px;
  padding: 15px 30px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
header .navbar .navbar-nav a:hover {
  color: #212121;
  background: none;
}
header .navbar .navbar-nav .active > a,
header .navbar .navbar-nav .active > a:focus,
header .navbar .navbar-nav .active > a:hover {
  color: #212121;
  background: none;
}
header .navbar .navbar-nav .dropdown-menu {
  color: #ffffff;
  background: #212121;
}
header .navbar .navbar-nav .dropdown-menu li a {
  color: #ffffff !important;
  line-height: 50px;
}
header .navbar .navbar-nav .open > a,
header .navbar .navbar-nav .open > a:focus,
header .navbar .navbar-nav .open > a:hover {
  color: #ffffff;
  background: #d85820;
}
.slider {
  position: relative;
  width: 100%;
  margin-bottom: 3.75rem;
}
footer {
  min-height: 60px;
  background: #212121;
  font-weight: 300;
  color: #ffffff;
  font-size: 0.7rem;
}
footer p,
footer a {
  font-size: 0.7rem;
  margin: 0;
  text-align: right;
  color: #ffffff;
}
footer p:hover,
footer a:hover {
  color: #ffffff;
}
footer ul {
  margin-bottom: 0px;
}
footer .content-footer {
  height: 60px;
  line-height: 60px;
  padding: 0;
}
footer .AsCoConsulting {
  font-size: 0.7rem;
  line-height: 60px;
}
footer .AsCoConsulting .icon-AsCoConsulting {
  width: 91px;
  margin-top: 14px;
  margin-left: 5px;
  color: #ffffff;
}
footer .menu-footer {
  list-style: none;
}
footer .menu-footer ul {
  display: inline-block;
  float: right;
}
footer .menu-footer ul li {
  display: inline-block;
  float: left;
  margin-right: 0.5rem;
  font-weight: 300;
}
footer .menu-footer ul li a {
  color: #ffffff;
  font-size: 0.7rem;
  line-height: 0.7rem;
}
footer section {
  padding: 0;
  margin: 0;
  min-height: 0;
  height: auto;
}
section {
  font-size: 1.1rem;
  line-height: 1.62rem;
}
.grilleImage img {
  width: 100%;
}
.miseAvant {
  display: inline-block;
  background: #212121;
  color: #ffffff;
  padding: 30px;
  margin: 1rem 0;
}
.miseAvant p {
  font-size: 1.56rem;
  line-height: 2.31rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
@media (min-width: 768px) {
  .col-sm-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .navbar .navbar-nav {
    min-width: 400px;
  }
  header .navbar .navbar-nav li {
    padding: 0;
  }
  header .navbar .navbar-nav li a {
    padding: 0 15px;
    line-height: 50px;
  }
  footer p {
    text-align: center;
  }
  .contact {
    margin: 0 10px;
  }
  .sitemap ul li {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .navbar .navbar-collapse.collapse {
    width: auto;
  }
  header .navbar .navbar-nav li {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .flex {
    flex-direction: row;
  }
  header .navbar .navbar-nav {
    margin: 0;
  }
  header .navbar .navbar-nav li a:hover {
    background: #d85820;
  }
  header .navbar .navbar-nav li li.active {
    background: #3b3b3b;
  }
}
section.success {
  background: #18bc9c;
  color: white;
}
section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
  color: #2c3e50;
  outline: none;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
